<div class="main-menu col-lg-4 col-lg-offset-4">
  <div class="row main">
    <h1 id="siteMotto">¡Voces de los Abuelos!</h1>
  </div>
  <div class="row main">
      <h4> <%= link_to "DI", new_upload_path, class:"btn btn-lg btn-width" %>
      <h4> <%= link_to "ESCUCHA", uploads_path, class:"btn btn-lg btn-width" %>
      <h4> <%= link_to "ADVINA", new_game_path, class:"btn btn-lg btn-width" %>
  </div>
</div>
