<div class="main-menu">
  <div class="row main">
    <h1 id="siteMotto">¡Voces de los Abuelos!</h1>
  </div>
  <div class="row main">
    <p class="main-item"> <%= link_to "DI", new_upload_path, class:"btn btn-lg btn-width" %></p>
    <p class="main-item"><%= link_to "ESCUCHA", uploads_path, class:"btn btn-lg btn-width" %></p>
    <p class="main-item"><%= link_to "ADIVINA", new_game_path, class:"btn btn-lg btn-width" %></p>
  </div>
</div>
