<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <h1 id="siteMotto">¡Voces de los Abuelos!</h1>
  </div>
</div>
<div class="row main">
  <div class="main-menu col-lg-4 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-2">
    <h4> <%= link_to "DI", new_upload_path, class:"btn btn-lg btn-block" %>
    <h4> <%= link_to "ESCUCHA", uploads_path, class:"btn btn-lg btn-block" %>
    <h4> <%= link_to "ADVINA", new_game_path, class:"btn btn-lg btn-block" %>
  </div>
</div>
