<div class="main-menu col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="row main">
    <h1 id="siteMotto">¡Voces de los Abuelos!</h1>
  </div>
  <div class="row main">
    <p class="main-item"> <%= link_to "DI", new_upload_path, class:"btn btn-lg btn-width" %></p>
    <p class="main-item"><%= link_to "ESCUCHA", uploads_path, class:"btn btn-lg btn-width" %></p>
    <p class="main-item"><%= link_to "ADVINA", new_game_path, class:"btn btn-lg btn-width" %></p>
  </div>
</div>
