@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #777;
$orange: #F25204;
$dark-blue: #093D5E;
$brown: #5C2D22;
$light-brown: #9E4D0B;
$tan: #E7CE9F;
$purple: #800080;

html {
  background: url(image-path("rio-pajaro.jpg")) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 100px;
  color: $orange;
  align-top: center;
  background-color:rgba(255,255,255,0) !important;
}

.main-body {
  padding-top: 40px;
  text-align: center;
  // // background: blue;
  // width: 110%;
  // padding-right: -15px;
}

.main-menu {
  background-color:rgba(255,255,255,.7);
  padding: 30px;
}

// .main-item {
//   padding: 15px;
//   font-size: 2em;
//   letter-spacing: 2px;
// }

li {
  list-style-type: none;
  padding: 3px 30px 20px 0;
}

.navbar {
  background: $brown;
  font-size: 1.6em;
}

a.nav-list-item {
  color: white !important;
  text-decoration: none;
  // font-family: Arial, sans-serif;
  letter-spacing: 1px;
  background-color: none;
}

.nav-list-image {
  margin: -20px;
  padding: 0;
}

li.active > a
{
  color: $tan !important;
  background-color: $brown !important;
}


.btn {
  background: #E0AE15;
  background-image: -webkit-linear-gradient(top, #E0AE15, #E0A035);
  background-image: -moz-linear-gradient(top, #E0AE15, #E0A035);
  background-image: -ms-linear-gradient(top, #E0AE15, #E0A035);
  background-image: -o-linear-gradient(top, #E0AE15, #E0A035);
  background-image: linear-gradient(to bottom, #E0AE15, #E0A035);
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
}

.btn:hover {
  background: #e07b16;
  background-image: -webkit-linear-gradient(top, #e07b16, #e36c12);
  background-image: -moz-linear-gradient(top, #e07b16, #e36c12);
  background-image: -ms-linear-gradient(top, #e07b16, #e36c12);
  background-image: -o-linear-gradient(top, #e07b16, #e36c12);
  background-image: linear-gradient(to bottom, #e07b16, #e36c12);
  text-decoration: none;
}

.btn-width {
  width: 100%;
  // height: 50px;
  padding: 2px 5px;
  font-size: 5em;
  margin: 20px 0;
}

#file {
  color: $purple;
  padding-left: 450px;
  text-align: center;
}

.login {
  padding: 10px;
  margin-top: 15px;
}
