@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #777;
$orange: #F25204;
$dark-blue: #093D5E;
$brown: #5C2D22;
$light-brown: #9E4D0B;
$tan: #E7CE9F;
$purple: #800080;
$white: #fff;
$black: #000;

// From adobe https://color.adobe.com/Theme-20-color-theme-5544017/
$grey: #D9C7C1;
$yellow: #F2CA50;
$orange-yellow: #F2994B;
$adobe-orage: #F27B35;
$green: #344021;

// https://color.adobe.com/Old-Orange-Peel-color-theme-448736/
$dark-brown1: #382500;
$red1: #992200;

// https://color.adobe.com/Infographics-6-color-theme-5378443/
$dark-blue2: #314655;
$orange2: #F58625;
$red2: #F05026;
$cyan2: #31BDC1;

html {
  background-color: $dark-blue2;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 150px;
  margin: 0 -35px;
  color: $orange2;
  align-top: center;
  background-color: $dark-blue2;
}

.container {
  width: 95%;
}

.main-body {
  font-size: 1.5em;
  padding-top: 30px;
  text-align: center;
  width: 80%;
}

.row {
  margin: 30px 0 50px;
}

.main-menu {
  // background-color:rgba(255,255,255,.7);
  padding: 30px;
}

li {
  list-style-type: none;
  padding: 3px 30px 20px 0;
}

.navbar {
  background: $brown;
  font-size: 2em;
}

.table-responsive {
  font-size: 2.5em;
  margin-top: 7vw;
}

a.nav-list-item {
  background-color: none;
  color: $white !important;
  margin-top: 55px;
}

.nav-list-image {
  margin: -5px;
}

li.active > a
{
  background-color: $brown !important;
}

.btn {
  border: 0.5vw solid $orange2;
  color: $white;
  font-size: 1.5em;
  text-decoration: none;
}

.btn:hover {
  background: $orange2;
}

.btn-width {
  width: 100%;
  padding: 5px 5px;
  font-size: 5em;
  margin: 35px 0;
  letter-spacing: 0.5vw;
  text-decoration: none;
  background-color: $dark-blue2;
}

.btn-med {
  font-size: 3.5em;
}

#file {
  color: $purple;
  padding-left: 450px;
  text-align: center;
}

.login {
  font-size: 4em;
  margin-top: 100px;
}

.site-motto-lg {
  font-size: 4em;
  margin-bottom: 100px;
  margin-top: 40px;
  padding: 30px;
}

.big-txt {
  font-size: 4em;
  width: 100%;
  padding: 15px;
}

.txt-box {
  background-color: white;
}


.txt-box:hover {
  background-color: white;
}
