<%= render "layouts/full_nav_bar" %>

<% if @uploads.any? %>
  <h1>¡Haz clic para escuchar!</h1>
  <div class="table-responsive">
    <% @uploads.each do |upload| %>
      <a href="#" class='my-play-button' data='<%= upload.url %>'>
        <%= upload.meaning %>
      </a></br>
    <% end %>
  </div>
<% else %>
  Todavía no hay grabaciones para escuchar.
<% end %>
