<%= render "layouts/full_nav_bar" %>
<p>
<p id="start-btn" class="btn btn-width">Grabar</p>
<p id="warning">Favor de refescar la página y permitir el uso el microfono</p>
</p>
<!-- <h2>Recordings</h2> -->
<ul id="recordingslist"></ul>
<div id="meaning">
<h2>Quiere decir...</h2>
  <%=form_tag(upload_path(@upload.id), method: "patch") do %>
    <%= text_field_tag(:meaning) %></br>
    <p><%= submit_tag %></p>
  <% end %>
</div>

<p id="log"></p>

<script>
function __log(e, data) {
    log.innerHTML += "\n" + e + " " + (data || '');
  }

var audio_context;
var recorder;
function startUserMedia(stream) {
  var input = audio_context.createMediaStreamSource(stream);

  recorder = new Recorder(input);
}
function startRecording() {
  recorder && recorder.record();
}
function stopRecording() {
  recorder && recorder.stop();

  createDownloadLink();

  recorder.clear();
}



function createDownloadLink() {
  recorder && recorder.exportWAV(function(blob) {
    var url = URL.createObjectURL(blob);
    var li = document.createElement('li');
    var au = document.createElement('audio');
    var im = document.createElement('img');
    var clipID = new Date().toISOString() + '.wav';
    im.src = "/assets/triangle.png";
    im.width="65";
    im.className="play-btn2";
    im.id=clipID;
    au.controls = false;
    au.className = "clip"
    au.id=clipID;
    au.src = url;
    li.appendChild(au);
    li.appendChild(im);
    recordingslist.appendChild(li);

  });
}
window.onload = function init() {
  try {
    // webkit shim
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
    window.URL = window.URL || window.webkitURL;

    audio_context = new AudioContext;
    // __log('Audio context set up.');
    //  __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
  } catch (e) {
    alert('No web audio support in this browser!');
  }

  navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
    __log('No live audio input: ' + e);
    alert("Problems!");
  });
};
</script>
<script src="../assets/recorder.js" type="text/javascript"></script>
